<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.basic.test.dao.BasicSQLDao">
    <select id="getMember" resultType="com.basic.test.model.projectname.Member">
        SELECT /* MemberMapper.getMember */
            *
        FROM
            MEMBER
        <if test="id != null">
            WHERE USERID = #{id}
        </if>
    </select>
</mapper>